.faq-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 900px;
}

.asking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: #1ABC9C;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
    min-width: 760px;
    margin-top: 60px;
    padding-top: 40px;
}

.asking-form textarea {
    margin-top: 20px;
}

.asking-form button {
    height: 35px;
    width: 150px;
    margin-bottom: 20px;
}

.submit-button {
    text-align: right;
    padding-top: 20px;
}

.questions-answers {
    background-color: #FFFFFF;
    color: #888888;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
    min-width: 760px;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.questions-answers span {
    color: #1ABC9C;
}
